/* .main-home {
    
    background-image: url("../assets/images/Recurso1.png");    
} */

h1 {
    font-family : homeH1;
}
h2 {
    font-family : homeH2;
}
@media screen and (min-width : 1200px) {
    .feedbacks{

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 2em;
    }
}

