/* .main-home {
    
    background-image: url("../assets/images/Recurso1.png");    
} */

#homemain{

    background-image: url("../../assets/images/portada.jpeg");    
    background-size:  cover;
    background-position: bottom;
    
}


@media screen and (min-width : 1200px) {
    .feedbacks{

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 2em;
    }
}