header {

   
    background-color: rgb(58, 81, 159) ;

    font-family: header;  
    
    animation: dezplazar-abajo;

    animation-duration: 1s;
  }

  @media (max-width : 760px)  {
  
    header {
      justify-content: center ;
    }

  }

  @media (min-width : 761px)  {
  
    header {
      justify-content: space-between ;

    }

  }
  
