

a {
    text-decoration: none;
    color: lightgray;
}

nav {
    margin-left: 30em;
}

#btn-contacto {
    background-color: #090202;
    color : whitesmoke
}

@media screen and (max-width : 700px) {
    nav {
        margin-left: 1em;
        

        flex-direction: column;
        font-size: 0.6rem;
        justify-content: center;        
    }
    .item-menu {
       font-size: 1.2rem;
       
       text-align: center;
    }
    
}


@media screen and (min-width : 761px) {
    nav {
       margin-right: 1rem;
    }
  
}

@keyframes resaltar {
    from {
        padding : 0;
    }
    to { 
        padding : 0.3em;
    }
}