.card-container{
    background-color: transparent;
    border : solid white 1px;
    border-radius: 2px;
    margin-top: 0.5em;
}
.card-marco {
    padding: 0.2em ;
    margin: 0.2em 0.2em ;
    border : solid white 1px;
    color : white;
    border-radius: 2px;
}
i {
    font-size: 2em;
    color : white
    /* color : #3a519f */
}
