
@font-face {
  font-family: cuerpo;
  src: url("assets/fonts/Montserrat/static/Montserrat-Regular.ttf")
}

@font-face {
  font-family: titulo;
  src: url("assets/fonts/Montserrat/static/Montserrat-Medium.ttf");
}
@font-face {
  font-family: card;
  src: url("assets/fonts/Montserrat/static/Montserrat-ExtraBold.ttf");
}


body {


  background-color: gray;
  font-family: cuerpo;
  color : black

}


header,h1,h2 {
  font-family: titulo;
}


