
@font-face {
  font-family: cuerpo;
  src: url("assets/fonts/Mulish/Mulish-Light.ttf")
}

@font-face {
  font-family: titulo;
  src: url("assets/fonts/Mulish/Mulish-ExtraBold.ttf");
}

/* a{
  color : black
} */

body {


  background-color: gray;
  font-family: cuerpo;
  color : black

}


header,h1,h2 {
  font-family: titulo;
}



/* 
html {
  font-size: 25px;
}



footer {
  padding: 1em;
  background-color: black;
  color: orangered;
  text-align: center;
}


.en-blanco {
  background: azure;
}






@keyframes modalizar {
  from {
    margin : 1em;
  }

  to {
    margin : 40em 3em;
  }
} */