
@font-face {
  font-family: cuerpo;
  src: url("assets/fonts/Old_Standard_TT/OldStandardTT-Regular.ttf");
}

@font-face {
  font-family: titulo;
  src: url("assets/fonts/Archivo_Black/ArchivoBlack-Regular.ttf");
}

html {
  font-size: 25px;
}

body {


  background-color: gray;
  font-family: cuerpo;

}


footer {
  padding: 1em;
  background-color: black;
  color: orangered;
  text-align: center;
}


.en-blanco {
  background: azure;
}






@keyframes modalizar {
  from {
    margin : 1em;
  }

  to {
    margin : 40em 3em;
  }
}